.shadow-box-noshadow {background-color: #fff;margin-bottom: 10px;border: 1px solid #cacaca;}

.wrap-left {
    width: 690px;
    margin-left: 10px;
}


.contents {margin-top:20px;}

.contents_1 {margin-left:50px;}
